sources/libraries/blockchain/flow-engine.json
[
    {
       "id":"10434c64.5009a4",
       "type":"tab",
       "label":"Flow 1",
       "disabled":false,
       "info":""
    },
    {
       "id":"6acf8a6d.d5cb14",
       "type":"http request",
       "z":"10434c64.5009a4",
       "name":"get_block",
       "method":"POST",
       "ret":"obj",
       "url":"https://mainnet.infura.io/v3/a6248e6f21d6405cb243d2ec7364beb8",
       "tls":"",
       "timeoutMillis":15000,
       "x":220,
       "y":220,
       "wires":[
          [
             "70334af6.dc3184"
          ]
       ]
    },
    {
       "id":"175a656f.baccab",
       "type":"function",
       "z":"10434c64.5009a4",
       "name":"payload",
       "func":"var count = context.get('count') || 8600000;\nmsg.payload = {\n    \"jsonrpc\":\"2.0\",\n    \"method\":\"eth_getBlockByNumber\",\n    \"params\": [\"0x\" + count.toString(16), true],\n    \"id\":1\n};\nnode.log(\"Request block \" + count);\ncount += 1;\ncontext.set('count', count);\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":180,
       "y":166,
       "wires":[
          [
             "6acf8a6d.d5cb14"
          ]
       ]
    },
    {
       "id":"efd61567.622458",
       "type":"inject",
       "z":"10434c64.5009a4",
       "name":"execute request",
       "topic":"",
       "payload":"",
       "payloadType":"date",
       "repeat":"1",
       "crontab":"",
       "once":false,
       "onceDelay":"1",
       "x":130,
       "y":114,
       "wires":[
          [
             "175a656f.baccab"
          ]
       ]
    },
    {
       "id":"71fea91d.8cead8",
       "type":"debug",
       "z":"10434c64.5009a4",
       "name":"insert tx log",
       "active":true,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "x":650,
       "y":240,
       "wires":[
 
       ]
    },
    {
       "id":"c05ce833.c3d158",
       "type":"onesaitplatform-insert",
       "z":"10434c64.5009a4",
       "name":"save block data",
       "ontology":"eth_mainnet_blocks",
       "authentication":"Z2p1YW46dkkvMUFsWjFqY0hsTE9FQWYyVUhXV29Ya2h6R0dvZHZ1eWVuU1JLeDNxVT0=",
       "x":600,
       "y":300,
       "wires":[
          [
             "89022a8e.00ce68"
          ]
       ]
    },
    {
       "id":"89022a8e.00ce68",
       "type":"debug",
       "z":"10434c64.5009a4",
       "name":"insert block log",
       "active":false,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"true",
       "x":620,
       "y":360,
       "wires":[
 
       ]
    },
    {
       "id":"70334af6.dc3184",
       "type":"function",
       "z":"10434c64.5009a4",
       "name":"result",
       "func":"send = {}\nvar res = msg.payload.result;\n\nvar difficulty = parseInt(res.difficulty, 16);\nvar extraData = parseInt(res.extraData, 16);\nvar gasLimit = parseInt(res.gasLimit, 16);\nvar gasUsed = parseInt(res.gasUsed, 16);\nvar hash = parseInt(res.hash, 16);\nvar logsBloom = parseInt(res.logsBloom, 16);\nvar miner = parseInt(res.miner, 16);\nvar mixHash = parseInt(res.mixHash, 16);\nvar nonce = parseInt(res.nonce, 16);\nvar number = parseInt(res.number, 16);\nvar parentHash = parseInt(res.parentHash, 16);\nvar receiptsRoot = parseInt(res.receiptsRoot, 16);\nvar sha3Uncles = parseInt(res.sha3Uncles, 16);\nvar size = parseInt(res.size, 16);\nvar stateRoot = parseInt(res.stateRoot, 16);\nvar timestamp = parseInt(res.timestamp, 16);\nvar totalDifficulty = parseInt(res.totalDifficulty, 16);\nvar transactionsRoot = parseInt(res.transactionsRoot, 16);\nvar transactions = res.transactions || [];\n\nvar blockchain = {\n    \"difficulty\": difficulty, //> Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : difficulty,\n    \"extraData\": extraData, //> Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : extraData,\n    \"gasLimit\": gasLimit,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : gasLimit,\n    \"gasUsed\": gasUsed,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : gasUsed,\n    \"hash\": hash,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : hash,\n//    \"logsBloom\": logsBloom === Infinity ? 0.0 : logsBloom,\n    \"miner\": miner,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : miner,\n    \"mixHash\": mixHash,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : mixHash,\n    \"nonce\": nonce,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : nonce,\n    \"number\": number,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : number,\n    \"parentHash\": parentHash,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : parentHash,\n    \"receiptsRoot\": receiptsRoot,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : receiptsRoot,\n    \"sha3Uncles\": sha3Uncles,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : sha3Uncles,\n    \"size\": size,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : size,\n    \"stateRoot\": stateRoot,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : stateRoot,\n    \"timestamp\": timestamp,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : timestamp,\n    \"totalDifficulty\": totalDifficulty,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : totalDifficulty,\n    \"transactionsRoot\": transactionsRoot,// > Number.MAX_SAFE_INTEGER ? Number.MAX_SAFE_INTEGER : transactionsRoot,\n    \"transactions\": transactions\n}\n\nsend.payload = blockchain;//{\"properties\": blockchain};\nreturn send;",
       "outputs":1,
       "noerr":0,
       "x":250,
       "y":280,
       "wires":[
          [
             "bcccf6b.2ea8b08"
          ]
       ]
    },
    {
       "id":"bcccf6b.2ea8b08",
       "type":"function",
       "z":"10434c64.5009a4",
       "name":"transactions",
       "func":"var txs = msg.payload.transactions;\nvar array = [];\n\ntxs.forEach(function(tx) {\n    var s = {};\n    var t = {};\n    t.blockHash = parseInt(tx.blockHash, 16) || 0;\n    t.blockNumber = parseInt(tx.blockNumber, 16) || 0;\n    t.from = parseInt(tx.from, 16) || 0;\n    t.gas = parseInt(tx.gas, 16) || 0;\n    t.gasPrice = parseInt(tx.gasPrice, 16) || 0;\n    t.hash = parseInt(tx.hash, 16) || 0;\n    t.input = parseInt(tx.input, 16) || 0;\n    t.nonce = parseInt(tx.nonce, 16) || 0;\n    t.r = parseInt(tx.r, 16) || 0;\n    t.s = parseInt(tx.s, 16) || 0;\n    t.to = parseInt(tx.to, 16) || 0;\n    t.transactionIndex = parseInt(tx.transactionIndex, 16) || 0;\n    t.v = parseInt(tx.v, 16) || 0;\n    t.value = parseInt(tx.value, 16) || 0;\n\n    s.payload = t;\n    array.push(s);\n});\n\nmsg.payload = array;\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":430,
       "y":240,
       "wires":[
          [
             "6ae64ff7.5c106"
          ]
       ]
    },
    {
       "id":"8863bbb0.2b0228",
       "type":"function",
       "z":"10434c64.5009a4",
       "name":"block",
       "func":"delete msg.payload.transactions;\nreturn msg;",
       "outputs":1,
       "noerr":0,
       "x":410,
       "y":320,
       "wires":[
          [
             "c05ce833.c3d158",
             "ff4903e0.24e96"
          ]
       ]
    },
    {
       "id":"6ae64ff7.5c106",
       "type":"onesaitplatform-insert",
       "z":"10434c64.5009a4",
       "name":"save tx",
       "ontology":"eth_mainnet_tx",
       "authentication":"Z2p1YW46dkkvMUFsWjFqY0hsTE9FQWYyVUhXV29Ya2h6R0dvZHZ1eWVuU1JLeDNxVT0=",
       "x":600,
       "y":180,
       "wires":[
          [
             "71fea91d.8cead8"
          ]
       ]
    },
    {
       "id":"ff4903e0.24e96",
       "type":"debug",
       "z":"10434c64.5009a4",
       "name":"",
       "active":false,
       "tosidebar":true,
       "console":false,
       "tostatus":false,
       "complete":"false",
       "x":470,
       "y":420,
       "wires":[
 
       ]
    }
 ]